.fa-check-circle {
    color: green;
}

.fa-hourglass-half {
    color: orange
}

.act {
    font-weight: bold;
}

.activity-comments {
    background-color: whitesmoke;
    padding: 1rem;
}

.pg svg{
    height: 50px;
    width: 50px;
}